/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
  font-size: 89.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-size: 1.2rem;
}
